<div class="container">
    <h1 mat-dialog-title>{{actionType}} Department</h1>
    <form *ngIf="actionType == 'Add'" class="emp-form" [formGroup]="form">
        <div mat-dialog-content>
            <mat-spinner [diameter]="30" [strokeWidth]="2" style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner>

            <mat-form-field class="emp-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. General Dentistry" type="text" id="name" formControlName="name">
                <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger"></div>
                <div *ngIf="f['name'].errors && f['name'].errors['required']">name is required.</div>
            </mat-form-field>

        </div>
        <div mat-dialog-actions class="space-between">
            <button mat-flat-button color="primary" (click)="saveDepartment()" [disabled]="!form.valid">Save</button>
            <button mat-flat-button color="warn" (click)="dialogRef.close(false)">Cancel</button>
        </div>
    </form>
    <form *ngIf="actionType == 'Edit'" class="emp-form" [formGroup]="form">
        <div mat-dialog-content>
            <mat-spinner [diameter]="30" [strokeWidth]="2" style="margin:0 auto;" *ngIf="showSpinner"></mat-spinner>

            <mat-form-field class="emp-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. General Dentistry" type="text" id="name" formControlName="name">
                <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger"></div>
                <div *ngIf="f['name'].errors && f['name'].errors['required']">name is required.</div>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="space-between">
            <button mat-flat-button color="primary" type="submit" (click)="updateDepartment()" [disabled]="!form.valid">Save</button>
            <button mat-flat-button color="warn" (click)="dialogRef.close(false)">Cancel</button>
        </div>
    </form>

</div>