table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .content {
    padding: 16px;
  }
  
  .mat-raised-button {
    padding: 16px 10px;
    cursor: pointer;
    margin: 20px;
    float: right;
    &:hover {
      background-color: #3f51b5;
      color: #fff;
    }
    mat-icon {
      margin-right: 8px;
    }
  }
  
  .more-options {
    cursor: pointer;
    color: #2c3b8f;
  }